<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <style type="text/css">
        /*@font-face {
            font-family:'Myriad Set Pro';
            font-style:normal;
            font-weight:200;
            src: url('./fonts/myriad-set-pro_thin.woff');
        }*/

        </style>

        <link rel="stylesheet" href="css/normalize.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="css/main.css">

        <!-- <script src="js/vendor/modernizr-2.6.2.min.js"></script> -->
    </head>

    <body>
        <div class="container">
        <div class="centered-container">
            <p class="lead">Bounce</p>
            <div class="icon"><img src="img/Icon@2x.png" alt="Icon" class="img-rounded"></img></div>
            <div><a class="btn btn-default" href="itms-services://?action=download-manifest&url=https://github.com/rbaulin/remote-config/raw/master/bounce/manifest.plist" role="button">Install now</a></div>
        </div>
        </div>
        

        <script>window.jQuery || document.write('<script src="<%=assets_path%>/js/vendor/jquery-1.11.1.min.js"><\/script>')</script>
        <script src="<%=assets_path%>/js/main.js"></script>

    </body>
</html>
