
@font-face {
    font-family:'Myriad Set Pro';
    font-style:normal;
    font-weight:100;
    src:url("../fonts/myriad-set-pro_ultralight.woff") format("woff"), url("../fonts/myriad-set-pro_ultralight.ttf") format("truetype");
    /**src:url('');*/
    /* Copyright (c) 1992 Adobe Systems Incorporated. All Rights Reserved. Myriad is a trademark of Adobe Systems Incorporated. */
}

@font-face {
    font-family:'Myriad Set Pro';
    font-style:italic;
    font-weight:100;
    src:url("../fonts/myriad-set-pro_ultralight-italic.woff") format("woff"), url("../fonts/myriad-set-pro_ultralight-italic.ttf") format("truetype");
    /**src:url('');*/
    /* Copyright (c) 1992 Adobe Systems Incorporated. All Rights Reserved. Myriad is a trademark of Adobe Systems Incorporated. */
}

@font-face {
    font-family:'Myriad Set Pro';
    font-style:normal;
    font-weight:200;
    src:local('Myriad Set Pro Thin'), url("../fonts/myriad-set-pro_thin.woff") format("woff"), url("../fonts/myriad-set-pro_thin.ttf") format("truetype");
    /**src:url('');*/
    /* Copyright (c) 1992 Adobe Systems Incorporated. All Rights Reserved. Myriad is a trademark of Adobe Systems Incorporated. */
}

@font-face {
    font-family:'Myriad Set Pro';
    font-style:normal;
    font-weight:400;
    src:url("../fonts/myriad-set-pro_text.woff") format("woff"), url("../fonts/myriad-set-pro_text.ttf") format("truetype");
    /**src:url('');*/
    /* Copyright (c) 1992 Adobe Systems Incorporated. All Rights Reserved. Myriad is a trademark of Adobe Systems Incorporated. */
}


html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
img,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */


body {
    /*!!background: red;*/
}


.centered-container {
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

/**/

.helper {
    padding: 30px 0px;
    display: table-cell;
    vertical-align: middle;
    height: 330px;
    width: 10%;
    /*!!background: blue;*/
}

.title {
    font-family: 'Myriad Set Pro';
    text-align: center;
    /*padding: 40px 0px;*/
    width: 80%;
    /*height: 330px;*/
    margin: auto;
    /*background: yellow;*/
    font-size: 100;
    font-weight: 200;
}

.bluebg {
    /*http://stackoverflow.com/questions/9047381/css-multilined-gradient-text-webkit-background-clip*/
    font-weight: 600;
    background: -webkit-repeating-linear-gradient(top, red 0px, blue 70px);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    white-space:nowrap;
}

.amazing {
    font-family: Satisfy, cursive;
    font-weight:normal;
    white-space:nowrap;
}

/**/

/*http://stackoverflow.com/questions/18493589/in-css-how-to-scale-multiple-overlayed-images-responsively*/

.assets {
    width: 100%;
    margin: auto;
    position: relative;
}

.container {
    text-align: center;
    margin: 100px auto;
}

.lead {
    font-size: 30px;
    font-family: 'Myriad Set Pro';
    font-weight: 200;
    margin: 0;
    padding: 0;
}

.icon {
    margin-top: 6px;
    margin-bottom: 20px;
}
.btn {
    font-family: 'Myriad Set Pro';
    font-weight: 200;
    font-size: 20px;
}

.img-rounded {
  border-radius: 29px;
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}


